<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>User Data</title>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>User Details</h2>
    
    <div>
        <form  th:object="${user}" th:action="@{/user}" method="post">
            <input type="hidden" th:field="*{id}"/>
           <table>
           	<tr>
           	  <td>  <label>First Name:</label> </td>
            </tr>    
            <tr> 
            	<td>  <input type="text" th:field="*{firstname}"/>  </td>    
            	<td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">First Name Error</td>
            </tr>
            <tr>
               <td> <label>Lastname:</label> </td>
            </tr>    
            <tr>
              <td>      <input type="text" th:field="*{lastname}"/> </td>
              <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last Name Error</td>
             </tr>
            <tr>
               <td> <button type="submit">Submit</button> </td>
             </tr>  
            </table>
        </form>
    </div>
  <p th:text="${param.successMessage[0]}" th:unless="${param.successMessage == null}">Success</p>
     
 
</div>

</body>
</html>