<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>User data</title>
    
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <form th:object="${search}" th:action="@{/search}" method="post">
    <table>
    <tr>
     <td>Search :</td>
    <td><input type="text" th:field="*{name}"/></td>    
    </tr>
    <tr>
    <td><button type="submit">Submit</button> </td>
    </tr>
    </table>
    </form>
    <div  th:if="${not #lists.isEmpty(users)}">
        <h2>User List</h2>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>